// Tag Manager
// © 2012 Soliant Consulting

@silver: silver;
@gray: #638421;
@green: #a5d24a;

@font-size: 13px;
@radius: 3px;
@border: 1px;
@margin: 5px;
@padding: 5px;
@height: 18px;

@remove-link-padding: 8px;

.tagManager
{
    border-radius: @radius @radius @radius @radius;
    margin-top:0;
}

.tagmanagerTag
{
    background: none repeat scroll 0 0 @green;
    border: @border solid @green;
    border-radius: @radius;
    color: @gray;
    display: block;
    float: left;
    font-size: @font-size;
    margin-bottom: @margin;
    margin-right: @margin;
    padding: (@padding + 1) @padding @padding @padding;
    text-decoration: none;
    vertical-align: middle;
    line-height: @height;
    height: @height;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}      

.tagmanagerRemoveTag
{
    color: @silver;
    padding-left: @remove-link-padding;
}

