// Tag Manager
// © 2012 Soliant Consulting

@gray: #638421;
@green: #a5d24a;
@silver: silver;

@tag-font-size: 13px;
@tag-radius: 3px;
@tag-border: 1px;
@tag-margin: 5px;
@tag-padding: 5px;
@tag-height: 18px;

@remove-padding: 8px;


// A tag
.tagmanagerTag
{
    background: none repeat scroll 0 0 @green;
    border: @tag-border solid @green;
    border-radius: @tag-radius;
    color: @gray;
    display: block;
    float: left;
    font-size: @tag-font-size;
    margin-bottom: @tag-margin;
    margin-right: @tag-margin;
    padding: (@tag-padding + 1) @tag-padding @tag-padding @tag-padding;
    text-decoration: none;
    vertical-align: middle;
    line-height: @tag-height;
    height: @tag-height;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}      


// The x to close a tag
.tagmanagerRemoveTag
{
    color: @silver;
    padding-left: @remove-padding;
}

